<!--Admin::Items#new-->
<div class = "container">

  <div class = "row">
    <!--画面mdサイズ以上で8/12使用　mdサイズ以上で、一つ右にずらす-->
    <div class = "col offset-md-1">
      <h4>商品新規登録</h4>
    </div>
  </div>


  <%= form_with model:[:admin ,@item], method: :post do |f| %>
    <div class = "form-group row">
      <%= f.label :item_image, '商品画像', class: "col-form-label col-sm-2" %>
      <%= f.file_field :item_image, accept: "image/*", class: "col-sm-4 pl-0 " %>
    </div>

    <div class = "form-group row">
      <%= f.label :name, '商品名', class: "col-form-label col-sm-2" %>
      <%= f.text_field :name, autofocus: true, class: "col-sm-4" %>
    </div>

    <div class = "form-group row">
      <%= f.label :introduction, '商品説明', class: "col-form-label col-sm-2" %>
      <%= f.text_area :introduction, autofocus: true, class: "col-sm-4" %>
    </div>

    <div class = "form-group row">
      <%= f.label :genre_id, 'ジャンル', class: "col-form-label col-sm-2" %>
      <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "選択してください", autofocus: true, class: "col-sm-4" %>
    </div>

    <div class = "form-group row">
      <%= f.label :price, '税抜価格', class: "col-form-label col-sm-2" %>
      <%= f.text_field :price, autofocus: true, class: "col-sm-4" %><span class = "d-flex align-items-center">円</span>
    </div>

    <div class = "form-group row">
      <%= f.label :is_active, '販売ステータス', class: "col-form-label col-sm-2" %>
      <div class = "form-check form-check-inline">
        <%= f.radio_button :is_active, :true, class: "form-check-input" %>
        <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block:"} %>
      </div>
      <div class = "form-check form-check-inline">
        <%= f.radio_button :is_active, :false, class: "form-check-input" %>
        <%= f.label :is_active, "販売停止中", {value: :false, style:"display: inline-block:"} %>
      </div>
    </div>

    <div class = "form-group row">
      <%= f.submit "新規登録", class: "btn btn-success ,col offset-md-3" %>
    </div>

  <% end %>

</div>
