<!--Public::session#customer<-->



<div class = "container px-5 px-sm-0">

  <div class = "row mb-4">
    <h4 class = "mb-3"><span class = "bg-headline px-2">ログイン</span></h4>
  </div>
    <!--画面　mdサイズ以上で、一つ右にずらす-->
  <div class ="row">
    <h5 class= "pl-3"><span class = "bg-headline px-2">会員の方はこちらかログイン</span></h5>
  </div>



  <%= form_with model: @customer, url: session_path(resource_name) do |f| %>
    <div class="row offset-1 mb-2">
      <%= f.label :email, "メールアドレス", class: "col-sm-2 pr-0" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-4" %>
    </div>

    <div class="row offset-1  mb-5">
      <%= f.label :password, "パスワード", class: "col-sm-2 pr-0" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-4" %>
    </div>

    <div class="row offset-1 mb-4 pb-4">
      <%= f.submit "ログイン", class: "btn btn-primary col-sm-2 offset-sm-2" %>
    </div>
  <% end %>

  <div class = "row ">
    <!--画面　mdサイズ以上で、一つ右にずらす-->
    <div class = "col">
      <h5 class= "pl-3"><span class = "bg-headline px-2">会員登録がお済みでない方</span></h5>
    </div>
  </div>

  <div class = "row">
     <div class = "col offset-md-2">
      <%= link_to "こちら", new_customer_registration_path %>　　から新規登録を行なってください。
    </div>
  </div>


</div>