<!--Public::session#customer<-->
<div class = "container">

  <div class = "row mb-4">
    <!--画面　mdサイズ以上で、一つ右にずらす-->
    <div class = "col">
      <h4>ログイン</h4>
      <h5 class= "pl-3">会員の方はこちらかログイン</h5>
    </div>
  </div>

  <%= form_with model: @customer, url: session_path(resource_name) do |f| %>
    <div class="row mb-2">
      <%= f.label :email, "メールアドレス", class: "col-sm-2 pr-0" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-3" %>
    </div>

    <div class="row mb-2">
      <%= f.label :password, "パスワード", class: "col-sm-2 pr-0" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-3" %>
    </div>

    <div class="row mb-4">
      <%= f.submit "ログイン", class: "btn btn-primary col-sm-2 offset-sm-2" %>
    </div>
  <% end %>

  <div class = "row mb-2">
    <!--画面　mdサイズ以上で、一つ右にずらす-->
    <div class = "col">
      <h5>会員登録がお済みでない方</h5>
    </div>
  </div>

  <div class = "row">
     <div class = "col offset-md-2">
      <%= link_to "こちら", new_customer_registration_path %>　　から新規登録を行なってください。
    </div>
  </div>


</div>